@model IEnumerable<_00003951_DBSD_CW2.Models.FlowerCategory>

@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <h1>Flowers</h1>
    <p class="lead">Love is the answer, and you know that for sure. Love is the <span style="font-size: 30px; color: red">flower</span>, you've got to let it grow</p>
    <p>@Html.ActionLink("Start Now", "Register", "Login", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="well">
                <div>
                    <img style="width: 100%; height: 400px" src="~/Content/flowers/@item.ImgUrl" alt="Alternate Text" />
                </div>
                <h3 class="text-center text-primary">
                    @Html.DisplayFor(modelItem => item.Name)
                </h3>
                <div>
                    @Html.ActionLink("View & Enjoy", "Index", "Flower", new { categoryId = item.Id }, new { @class = "btn btn-block btn-success btn-lg" })
                </div>
            </div>
        </div>
    }

</div>
