
@{
    ViewBag.Title = "Success";
}
<br/>
<div class="jumbotron">
    <h3 class="text-success">Your application form successfully submitted</h3>
    <p class="lead">Soon, you will be contated via email by our recruiters</p>
    <p>@Html.ActionLink("Back to home", "Index", "Home", null, new { @class = "btn btn-primary" })</p>
</div>